GoogleTasks/Resources/GoogleTaskAPI.wsdl

<wsdl:definitions name="GoogleTaskAPI" targetNamespace="http://xmlns.oracle.com/SBGoogleRESTAPI/GoogleTasks/GoogleTaskAPI" xmlns:tns="http://xmlns.oracle.com/SBGoogleRESTAPI/GoogleTasks/GoogleTaskAPI" xmlns:inp1="http://xmlns.qualogy.com/blog/mnuman/Tasks" xmlns:inp2="http://xmlns.qualogy.com/blog/mnuman/Google/Tasks" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="GoogleTaskAPI">
        <plnk:role name="GoogleTaskAPIProvider" portType="tns:GoogleTaskAPI_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.qualogy.com/blog/mnuman/Tasks" schemaLocation="../Schemas/Tasks.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.qualogy.com/blog/mnuman/Google/Tasks" schemaLocation="../Schemas/GoogleTasksAsJSON.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetTaskLists_inputMessage">
        <wsdl:part name="request" element="inp1:GetTaskListsReq"/>
    </wsdl:message>
    <wsdl:message name="GetTaskLists_outputMessage">
        <wsdl:part name="reply" element="inp2:TaskLists"/>
    </wsdl:message>
    <wsdl:message name="InsertTaskList_inputMessage">
        <wsdl:part name="request" element="inp2:InsertTaskList"/>
    </wsdl:message>
    <wsdl:message name="InsertTaskList_outputMessage">
        <wsdl:part name="reply" element="inp2:TaskLists"/>
    </wsdl:message>
    <wsdl:message name="GetTasks_inputMessage">
        <wsdl:part name="request" element="inp1:GetTasksReq"/>
    </wsdl:message>
    <wsdl:message name="GetTasks_outputMessage">
        <wsdl:part name="reply" element="inp2:ListOfTasks"/>
    </wsdl:message>
    <wsdl:message name="InsertTask_inputMessage">
        <wsdl:part name="request" element="inp2:InsertTask"/>
    </wsdl:message>
    <wsdl:message name="InsertTask_outputMessage">
        <wsdl:part name="reply" element="inp2:Task"/>
    </wsdl:message>
    <wsdl:message name="GetTaskList_inputMessage">
        <wsdl:part name="request" element="inp1:GetTaskListReq"/>
    </wsdl:message>
    <wsdl:message name="GetTaskList_outputMessage">
        <wsdl:part name="reply" element="inp2:TaskList"/>
    </wsdl:message>
    <wsdl:portType name="GoogleTaskAPI_ptt">
        <wsdl:operation name="GetTaskLists">
            <wsdl:input message="tns:GetTaskLists_inputMessage"/>
            <wsdl:output message="tns:GetTaskLists_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="InsertTaskList">
            <wsdl:input message="tns:InsertTaskList_inputMessage"/>
            <wsdl:output message="tns:InsertTaskList_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTaskList">
            <wsdl:input message="tns:GetTaskList_inputMessage"/>
            <wsdl:output message="tns:GetTaskList_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTasks">
            <wsdl:input message="tns:GetTasks_inputMessage"/>
            <wsdl:output message="tns:GetTasks_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="InsertTask">
            <wsdl:input message="tns:InsertTask_inputMessage"/>
            <wsdl:output message="tns:InsertTask_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GoogleTaskAPI_ptt-binding" type="tns:GoogleTaskAPI_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTaskLists">
            <soap:operation soapAction="GetTaskLists"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertTaskList">
            <soap:operation soapAction="InsertTaskList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetTaskList">
            <soap:operation soapAction="GetTaskList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetTasks">
            <soap:operation soapAction="GetTasks"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertTask">
            <soap:operation soapAction="InsertTask"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>