TokenManagement/Resources/OAuth20.wsdl

<wsdl:definitions name="OAuth" targetNamespace="http://xmlns.oracle.com/OAuth" xmlns:tns="http://xmlns.oracle.com/OAuth" xmlns:inp1="http://xmlns.qualogy.com/blog/mnuman/OAuth" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.qualogy.com/blog/mnuman/OAuth" schemaLocation="../Schemas/Authorization.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RedeemAuthorizationTokenRequestMessage">
        <wsdl:part name="payload" element="inp1:RedeemAuthorizationTokenRequest"/>
    </wsdl:message>
    <wsdl:message name="RedeemAuthorizationTokenReplyMessage">
        <wsdl:part name="payload" element="inp1:RedeemAuthorizationTokenResponse"/>
    </wsdl:message>
    <wsdl:message name="GetAccessTokenRequestMessage">
        <wsdl:part name="payload" element="inp1:GetAccessTokenRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAccessTokenResponseMessage">
        <wsdl:part name="payload" element="inp1:GetAccessTokenResponse"/>
    </wsdl:message>
    <wsdl:message name="RefreshAccessTokenRequestMessage">
        <wsdl:part name="payload" element="inp1:RefreshAccessTokenRequest"/>
    </wsdl:message>
    <wsdl:message name="RefreshAccessTokenResponseMessage">
        <wsdl:part name="payload" element="inp1:RefreshAccessTokenResponse"/>
    </wsdl:message>
    <wsdl:portType name="OAuth20PortType">
        <wsdl:operation name="RedeemAuthorizationCode">
            <wsdl:input message="tns:RedeemAuthorizationTokenRequestMessage"/>
            <wsdl:output message="tns:RedeemAuthorizationTokenReplyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetAccessToken">
            <wsdl:input message="tns:GetAccessTokenRequestMessage"/>
            <wsdl:output message="tns:GetAccessTokenResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="RefreshAccessToken">
            <wsdl:input message="tns:RefreshAccessTokenRequestMessage"/>
            <wsdl:output message="tns:RefreshAccessTokenResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OAuth20SOAPBinding" type="tns:OAuth20PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RedeemAuthorizationCode">
            <soap:operation style="document" soapAction="RedeemAuthorizationCode"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAccessToken">
            <soap:operation style="document" soapAction="GetAccessToken"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RefreshAccessToken">
            <soap:operation style="document" soapAction="RefreshAccessToken"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>